ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
pre {
    margin: 0;
}
p {
    background-color: antiquewhite;
}
.note {
    background-color: aliceblue;
}
code {
    background-color: aquamarine;
    /* font-weight: bold; */
}
code:hover {
    font-weight: bold;
}
.block {
    display: block;
}